!!!
%html
%head
  %title Dane Natoli Cup 2013
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body{ :class => controller_name }
  .header
    .wrapper
      .header-image
        = image_tag 'cup.png'
      .heading
        %h1= link_to "Dane Natoli Cup 2013", root_path
        %h2 To the victor go the spoils!
      .header-image
        = image_tag 'me.png'
      .clearfix
  = yield
  .footer
    .wrapper
      %p © 2013 Dane Natoli. All rights reserved.

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39768464-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
